---
layout: home 
title: My Random Stuff Collection
---
<div class="grid grid-pad">
    <div class="col-3-12">
       <div class="content">
           <h3>col-1-12</h3>
       </div>
    </div>
    <div class="col-9-12">
<div id="latest">
  <h1>Latest Entry</h1>
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% include post_detail.html %}
  <!--ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul-->
</div>
    </div>
</div>
